@import '../../../styles/mixins';

.heading {
	// width: 200%;
	height: 4rem;
	// margin-left: -50%;
	background-color: rgb(49, 49, 49);

	@include desktop() {
		height: 6rem;
	}
}

.devProfile {
	// border: 5px solid orangered;

	max-width: 900px;
	margin: auto;
	padding: 0 0.5rem;

	.avatar {
		// position: absolute;
		width: 100px;
		height: 100px;
		margin: -50px 0 0 0;
		border-radius: 75%;
		border: 5px solid #f8f8fa;
		// box-shadow: 0px 0px 20px black;

		img {
			border-radius: 75px;
			object-fit: cover;
		}

		@include desktop() {
			width: 150px;
			height: 149px;
			margin: -75px 0 0 0;
			border-radius: 75%;
			border: 8px solid #f8f8fa;
			// box-shadow: 0px 0px 20px black;
		}
	}

	.bio {
	}

	.content {
		display: flex;
		flex-wrap: wrap;
		.pinned {
			flex: 1;
		}

		.blogs {
			flex: 1;
		}

		.teams {
			flex: 1;
		}

		.projects {
			flex: 1;
		}

		.replies {
			flex: 1;
		}
	}

	@include desktop() {
		padding: 0;
	}
}
