.blogEditor {
	// border: 5px solid blue;

	/* max-width: 50rem; */
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-self: center;

	box-shadow: 1px 2px 24px 2px rgba(0, 0, 0, 0.1);
	border: 1px solid rgba(0, 0, 0, 0.05);

	h2 {
		margin: 2rem auto 0 auto;
	}

	.controls {
		// border-radius: 6px;
		/* border: 1px solid #4f4c52; */
		// border-color: #4f4c52;
		/* background-color: var(--color-grey-100); */
		display: flex;
		flex-direction: column;
		font-size: 1rem;
		padding: 1rem;
		// box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.5);

		.control {
			display: flex;
			flex-direction: column;
			margin: 0.5rem 0;

			label {
				font-family: 'Oswald', sans-serif;
				font-weight: bold;
				font-size: 1.25rem;
				margin: 0.5rem 0 0.25rem 0;
			}
		}

		// input {
		// 	font: inherit;
		// 	padding: 0.25rem;
		// 	border-radius: 4px;
		// 	border: 1px solid hsl(265, 4%, 57%);
		// 	/* background-color: var(--color-grey-50); */
		// }

		input {
			margin: 10px 0;
			padding: 15px 20px;
			line-height: 1.8;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			outline: none;
			transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
			&:focus {
				border-color: black;
			}
			&:disabled {
				cursor: not-allowed;
				background-color: rgba(#b3b3b3, 0.15);
				opacity: 0.5;
			}
		}

		// textarea {
		// 	font: inherit;
		// 	padding: 0.25rem;
		// 	border-radius: 4px;
		// 	border: 1px solid hsl(265, 4%, 57%);
		// 	/* background-color: var(--color-grey-50); */
		// 	resize: vertical;
		// }

		textarea {
			padding: 15px 20px;
			font-family: 'Roboto';
			resize: vertical;
			line-height: 1.8;
			border: 1px solid rgba(0, 0, 0, 0.1);
			border-radius: 4px;
			outline: none;
			&:focus {
				border-color: black;
			}
		}

		button {
			padding: 15px 60px;
			margin-top: 10px;
			font-weight: bold;
			font-size: 16px;
			line-height: 1.6;
			text-align: center;
			text-transform: uppercase;
			border-radius: 4px;
			// background: transparent;
			background: #93db34;
			color: white;
			border: none;
			outline: none;
			transition: all 0.3s cubic-bezier(0.22, 0.61, 0.36, 1);
			&:not(:disabled) {
				cursor: pointer;
			}

			@media (hover: hover) {
				&:hover {
					background-color: rgba(#93db34, 0.8);
				}
			}
		}
	}
}
