@import '../../../styles/mixins';

.newBlog {
	// border: 5px solid orangered;

	max-width: 1200px;
	margin: auto;
	margin-bottom: 1rem;

	@media (min-width: 1000px) {
		display: grid;
		grid-template: auto auto / 1fr 1fr;
		gap: 1rem;
	}
}

.singleColumn {
	grid-template: auto auto / 1fr;
	gap: 0rem;
	align-content: center;
}
