.footer {
	position: absolute;
	bottom: 0;

	width: 100%;
	background-color: #2e2e2e;
	color: #f8f8fa;

	display: flex;
	flex-direction: column;

	a {
		color: inherit;
	}

	.social {
		width: 100%;
		margin: auto;

		display: flex;
		flex-direction: column;
		place-items: center;
		place-content: center;

		ul {
			list-style: none;
			padding: 0;

			display: flex;
			gap: 1rem;
		}
	}

	.links {
		width: 100%;

		display: flex;
		align-items: center;
		justify-content: center;

		ul {
			list-style: none;
			padding: 0;

			display: flex;
			gap: 1rem;
		}
	}
}
