@import '../../styles/mixins';

.header {
	position: sticky;
	top: 0;
	z-index: 10;

	width: 100%;
	height: 6rem;
	// background-color: #f8f8face;
	background-color: #f8f8fa;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 1rem;
	box-shadow: 5px 0px 15px rgba(0, 0, 0, 0.2);
	backdrop-filter: blur(8px);

	ul {
		list-style: none;
		position: fixed;
		top: -400%;
		left: 0;
		// top: 5rem;
		display: flex;
		flex-direction: column;

		background-color: #f8f8fa;
		width: 100%;
		padding: 0;
		text-align: center;
		transition: all 0.3s ease;
		// box-shadow: 0 0 0 10px 27px rgba(0, 0, 0, 0.2);
		box-shadow: 0px 10px 5px 0px rgba(0, 0, 0, 0.2);
	}

	li {
		// padding: 2rem;
		a {
			color: rgb(49, 49, 49);
			font-size: 1rem;
			transition: all 0.5s ease;
		}
	}

	button {
		background-color: transparent;
		border: none;
		color: rgb(49, 49, 49);
		font-size: 1rem;
		padding: 0;
		transition: all 0.5s ease;
	}

	li a:hover,
	li a:active,
	li a.active,
	li button:hover,
	li button:active,
	li button.active {
		color: rgb(178, 173, 184);
	}

	@include desktop() {
		ul {
			position: inherit;
			display: flex;
			flex-direction: row;
			gap: 1rem;
			background-color: transparent;
			box-shadow: none;
			align-items: baseline;
			margin: 0;
			padding: 0;
		}

		li {
			align-self: center;
			padding: 0;
		}
	}

	@include mobileOnly() {
		li {
			padding: 2rem;

			a {
			}
		}

		.activeNavMenu {
			top: 5rem;
		}

		.hiddenNavMenu {
			visibility: hidden;
			transition: all 0.5s;
			transform: translateY(-100%);
		}
	}
}

.active {
	visibility: visible;
	transition: all 0.5s;
}

.hidden {
	visibility: hidden;
	transition: all 0.5s;
	transform: translateY(-100%);
}
