.blogItem {
	// border: 5px solid blue;
	position: relative;
	color: #f8f8fa;

	a {
		color: inherit;
	}

	.image {
		img {
			object-fit: cover;
		}
		// img::after {
		// 	content: '';
		// 	display: block;
		// 	width: 100%;
		// 	height: 100%;
		// 	background-color: #333;
		// 	position: absolute;
		// 	top: 0;
		// 	left: 0;
		// }

		&::after {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.116);
			position: absolute;
			top: 0;
			left: 0;
		}
	}

	.content {
		position: absolute;
		top: 0rem;
		padding: 1rem;

		h3 {
			margin: 0;
			font-size: 2rem;
			text-shadow: 0 0 3px black;
		}

		time {
			text-shadow: 0 0 3px black;
		}
	}

	// &::after {
	// 	content: '';
	// 	display: block;
	// 	width: 100%;
	// 	height: 100%;
	// 	background-color: rgba(51, 51, 51, 0.233);
	// 	position: absolute;
	// 	top: 0;
	// 	left: 0;
	// }
}
