.message {
	// border: 5px solid blue;

	.content {
		padding: 1rem 1rem 0.5rem 1rem;
		box-shadow: 1px 2px 24px 1px rgba(0, 0, 0, 0.1);
		border: 1px solid rgba(0, 0, 0, 0.05);
		// background-color: white;
		margin-bottom: 1rem;

		.author {
			font-weight: bold;
		}

		.interactions {
			display: flex;
			gap: 1rem;

			.likes {
				display: flex;
				gap: 0.5rem;
				align-items: center;
			}

			.replyButton {
				background-color: transparent;
				border: none;

				display: flex;
				gap: 0.5rem;
				align-items: center;
			}
		}
	}
}

.reply {
	margin-left: 1rem;
}
