@import '../../styles/mixins';

.info {
	// background-color: #6d6d6d;
	background-color: #dd5f169f;
	width: 100%;
	height: 100%;
	color: #f8f8fa;
	// height: 20vh;
	padding: 1rem;

	display: flex;
	flex-direction: column;
	place-items: center;
	place-content: center;

	div {
		h2 {
			font-family: 'Roboto';
			font-size: 1rem;
		}

		@include desktop() {
			max-width: 900px;

			h2 {
				font-size: 2rem;
			}
			// padding: 2rem 0;
		}
	}
}
