@import '../../styles/mixins';

.jobItem {
	border-radius: 5px;
	background-color: white;
	padding: 0.5rem;
	align-items: center;
	height: 100%;
	display: grid;
	grid-template: auto auto / 1fr auto;

	p {
		margin: 0;
	}

	.jobInfo {
		align-self: flex-start;
		grid-column: 1;
		grid-row: 1;

		.jobTitle {
			font-size: 1.3rem;
		}
	}

	.linkIconBox {
		grid-column: 2;
		grid-row: 1;
		align-self: flex-start;

		display: flex;
		flex-direction: column;
		align-items: flex-end;
	}

	.description {
		margin-top: 1rem;
		grid-column: span 2;
		grid-row: 2;
		justify-self: center;
	}
}

.featured {
	border: 1px solid rgb(110, 110, 110);
	box-shadow: 0 0 15px black;
}
