@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');

* {
	box-sizing: border-box;
}

html,
body {
	background-color: #f8f8fa;
	color: rgb(49, 49, 49);
	padding: 0;
	margin: 0;
	font-family: 'Roboto', sans-serif;
}

h1,
h2,
h3 {
	font-family: 'Oswald', 'Roboto', sans-serif;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	font: inherit;
	cursor: pointer;
}
